.vercel
italian-jokes-api/
.DS_Store
# MAKE SURE YOU COMMENT OUT THE JOKES.JSON FILE WHEN PUSHING TO VERCEL
jokes.json
# To push to vercel use the below command
# npx vercel --prod 
# MAKE SURE YOU COMMENT OUT THE JOKES.JSON FILE WHEN PUSHING TO VERCEL


